@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter Tight", sans-serif;
  --font-italiana: "Italiana", sans-serif;
  --font-google-sans: "Google Sans", sans-serif;
}

::selection {
  background-color: red; /* warna highlight */
  color: black; /* warna teks saat di-highlight */
  opacity: 1;
}
